/**
 * partials/slider
 * ---
 */

.slick-slider img {
	height: auto !important;
}

 .arrowContainer {
 	float:right;
 	height: auto;
 	background-color: white;
 	margin-top: -60px;
 	
 }

 .slider2 p {
 	font-family: Muli;
	color: #2e2a2b;
	font-size: 14px;

 }